<div class="product-card">
  <img [src]="product.imageUrl" alt="Product Image">
  <h3 (click)="navigateToProductDetails(product.id)">{{ product.name }}</h3>
  <p>{{ product.description }}</p>
  <p class="price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
  <button (click)="addToCart(product)">Add to Cart</button>
  <button (click)="toggleFavorite(product)" [class.favorite]="isFavorite(product)">
    {{ isFavorite(product) ? 'Remove from Favorites' : 'Add to Favorites' }}
  </button>
</div>
